body {
    font-family: Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
}

h1,
p {
    padding: 20px;
}

.card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    margin-bottom: 150px;

}

.card {
    background: #e4f0fde9;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 24px;
    width: 75vw;
    max-width: 75vw;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    line-height: 1.5;
    font-size: larger;
}

.card img {
    width: 100%;
    border-radius: 6px;
}

.card h5 {
    margin: 10px 0 5px;
    font-size: 28px;
}

.price-original {
    text-decoration: line-through;
    color: #888;
    font-size: 22px;
}

.price-discounted {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    font-weight: bold;
    color: #007b00;
    font-size: 24px;
    padding: 10px, 0, 0, 0;
}

.checkbox {
    margin-left: 24px !important;
    margin-right: 0px !important;
    margin-top: 10px !important;

}

a {}

.card input[type="checkbox"] {
    transform: scale(3);
    display: block;
    margin: 10px auto 0;
}

#generate-quote-btn,
#download-pdf-btn {

    margin-top: 20px;
    font-size: 30px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 80vw;
    height: 100px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.button-container {
    position: fixed;
    /* Positions the element relative to the viewport. */
    bottom: 0;
    /* Positions the element at the bottom edge of the viewport. */
    width: 100vw;
    /* Makes the button span the full width of the screen. */
    /* Other styling for your button (background color, text, etc.) */
    background-color: rgb(252, 252, 252);
    color: white;
    text-align: center !important;
}


#download-pdf-btn {
    margin-left: 10px;
    display: none;
}

.quote-box {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    border-radius: 2px;
    max-width: 8.5in;
}

.quote-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.quote-header img {
    width: 100px;
    margin-right: 20px;
}

.quote-info {
    font-size: 14px;
}

.quote-box ul {
    list-style-type: none;
    padding: 0;
    font-size: 16px;
}

.quote-box li {
    padding: 5px 0;

}

.logo img {
    display: block;
    margin: 0 auto;
    height: 100%;
}

#teacher-info-form {
    display: flex;
    flex-direction: column;
    font-size: large
    gap: 10px;
}

#teacher-info-form input {
    padding: 5px;
    width: 75vw;
    height: 2em;
    font-size: 22px;
    border: 1px black solid;
    box-shadow: #afb6bee9;
    border-radius: 3px;
}

#teacher-info-form button {
    padding: 10px;
    width: 300px;
    background-color: #007bff;
    color: white;
    font-size: larger;
    border-radius: 6px;
    align-self: center;
}
#teacher-info-form label {
    padding: 0px;
    

}